main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);       
}

header {
    gap: 40px;
}

.countdown-container {
    left: 50%;
    transform: translateX(-50%);
    p {
        font-size: 1em;
    }
}

.total-sum {
    font-size: larger;
}


/* Sidans övre del */
.top-bar {
    grid-column: 1 / span 4;
    flex-direction: column;
    h1 {
        font-size: 3rem;
    }
}

.slogan {
    font-size: 2rem;
}


/* Sorterings funktion */
.sort-function {
    grid-column: 1 / span 4;
    flex-direction: row;
    margin-right: 40px;
    justify-content: right;
    h2 {
        font-size: 1.2rem;
    }
}


/* Produktlista */
article {
    grid-column: 1 / span 4;
    flex-direction: row; 
}

.products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.eachProduct {
    width: 25%;
    height: 550px;
}


/* Varukorgen */
.product-cart {
    display: flex;
    flex-direction: row;
    h2 {
        font-size: 1.2em;
        margin-top: 16px;
    }
    h3 {
    font-size: 1.2em;
    }
}


/* Kunduppgifter */
.delivery-information input {
    width: 95%;
}

.checkboxes input {
    width: 35px;
}


/* Betalningsuppgifter */
.payment-details {
    width: 30%;
}

.submit-order {
    gap:100px;
}

/* Sidfot */
footer {
    gap: 100px;
}