main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);       
}


/* Sidans övre del */
.top-bar {
    grid-column: 1 / span 4;
    flex-direction: column;
}

.top-bar h1 {
    font-size: 3rem;
}

.slogan {
    font-size: 2rem;
}


/* Sorterings funktion */
.sort-function {
    grid-column: 1 / span 4;
    flex-direction: row;
    margin-right: 40px;
    justify-content: right;
}

.sort-function h2 {
    font-size: 1.2rem;
}


/* Produktlista */
article {
    grid-column: 1 / span 4;
    flex-direction: row; 
}

.products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-top: 10px;
}


/* Varukorgen */
.product-cart {
    display: flex;
    flex-direction: row;
}

.product-cart h2 {
    font-size: 1.2em;
    margin-top: 16px;
}

.product-cart h3 {
    font-size: 1.2em;
}


/* Kunduppgifter */
.leveransuppgifter input {
    width: 60%;
}

.checkbox input {
    width: 35px;
}


/* Sidfot */
footer {
    gap: 100px;
}